@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN */
.custom-bg {
    background: radial-gradient(circle, rgba(75,38,110,1) 40%, rgba(27,15,150,1) 100%);
}  

.primary-color {
    color: #573378;
}

.secondary-color {
    color: #1b0f96;
}

.terciary-color {
    color: #cec72a;
}

.quaternary-color {
    color: #40eed3 !important;
}

.main-content {
    padding: 2rem;
    text-align: center;
    font-size: 1.25rem;
    color: white;
}

.content {
    padding: 1rem;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1a0f96c9;
}

.header-button {
    color: #cec72a;
    font-weight: bold;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover {
    background-color: #cec72a;
    color: #40eed3;
}

/* ACCOUNT */
.button-custom {
    color: #cec72a;
    font-weight: bold;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-custom:hover {
    background-color: #cec72a;
    color: #40eed3;
}

/* HOME */
.centered-image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-button {
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-button:hover {
    transform: scale(1.1);
}

/* QUIZZ */
.question {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 10rem;
    color: #ffffff;
}

.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.next-button {
    width: 100px;
    height: 45px;
    background-color: #cec72a; 
    color: #1b0f96; 
    font-weight: bold;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.next-button:hover {
    background-color: #40eed3; 
    color: white;
    transform: scale(1.05); 
}

.answer-button {
    width: 150px;
    height: 100px;
    background-color: #cec72a; 
    color: #1b0f96; 
    font-weight: bold;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.neutral-answer {
    width: 150px;
    height: 100px;
    background-color: #cec72a; 
    color: #1b0f96; 
    font-weight: bold;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.answer-button:hover {
    background-color: #40eed3; 
    color: white;
    transform: scale(1.05); 
}

.correct-answer {
    width: 150px;
    height: 100px;
    background-color: #48cb2a; 
    color: #ffffff; 
    font-weight: bold;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.wrong-answer {
    width: 150px;
    height: 100px;
    background-color: #cb2a2a; 
    color: #ffffff; 
    font-weight: bold;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.score {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* NEW QUIZZ */
.create-quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.label {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.themes {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    color: #ffffff;
}

.radio-group, .questions-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    color: #ffffff;
}

.submit-button {
    padding: 0.75rem 2rem;
    color: #cec72a;
    font-weight: bold;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
    background-color: #cec72a;
    color: #40eed3;
}

/* NOT FOUND */
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.not-found-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.not-found-text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.go-back-button {
    padding: 0.75rem 2rem;
    margin-bottom: 5rem;
    background-color: #cec72a;
    color: #1b0f96; 
    font-weight: bold;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-back-button:hover {
    background-color: #573378;
    color: white;
}
